@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  padding: 0 $base-padding;
}

ul {
  padding: 0;
  list-style: none;
}

a:any-link {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

@mixin vertical-separator($color: white) {
  height: 100%;
  width: 1px;
  display: inline-block;
  background: $color;
  border: 0;
}

@mixin horizontal-separator($color: white) {
  height: 1px;
  width: 100%;
  display: inline-block;
  background: $color;
  border: 0;
}
