.footer {
  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 0 $base-padding;

    @include lg {
      padding: 0;
    }
  }
  &__topbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
    padding: 0;

    @include lg {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__menu-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: $menu-items-gap;

    @include lg {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-content: center;
      text-align: center;
      margin: 37px 0;
    }

    @include md {
      display: flex;
      flex-direction: column;
    }
  }

  &__menu-item:last-child {
    @include lg {
      display: none;
    }
  }

  &__menu-link {
    $link-color: white;
    color: $link-color;
    font-size: $font-size-xs;

    &:hover,
    &:focus {
      filter: brightness(0.7);
    }

    &:active {
      filter: brightness(0.5);
    }

    @include lg {
      text-decoration: none;
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    &--mob {
      display: none;
    }

    @include lg {
      display: none;

      &--mob {
        display: flex;
      }
    }
  }

  &__link:hover {
    filter: brightness(0.5);
  }

  &__middle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: minmax(20px, 154px);
    margin-bottom: 50px;

    @include lg {
      grid-template-columns: 1fr;
      place-content: center;
      justify-items: center;
    }
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    row-gap: 20px;

    @include lg {
      text-align: center;
      margin-bottom: 37px;
    }
  }

  &__mailto,
  &__tel {
    text-decoration: none;
  }

  &__highlight {
    background-color: $primary;
    color: black;
    border-radius: math.div($base-border-radius, 2);
    padding: 0 7px;
  }

  &__newsletter {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    @include lg {
      margin-bottom: 37px;
    }

    @include md {
      grid-template-columns: 1fr;
    }
  }

  &__input {
    $color: white;

    background-color: $secondary-light;
    border: 1px solid $color;
    border-radius: $base-border-radius;
    color: $color;
    padding: 22px 35px;

    &::placeholder {
      color: $color;
      font-size: $font-size-xs;
    }
  }

  &__bottom {
    border-top: 1px solid white;
    padding-top: 50px;
    color: white;
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;

    @include lg {
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 15px;
    }
  }

  &__policy {
    &:hover {
      filter: brightness(0.7);
    }

    &:active {
      filter: brightness(0.5);
    }

    @include lg {
      text-decoration: none;
    }
  }
}
