.footer {
  &__topbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
  }

  &__menu-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: $menu-items-gap;

    @include lg {
      display: none;
    }
  }

  &__menu-link {
    $link-color: white;
    color: $link-color;
    font-size: $font-size-xs;

    &:hover,
    &:focus {
      color: color.scale($link-color, $lightness: 60%);
    }

    &:active {
      color: color.scale($link-color, $lightness: 70%);
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  &__middle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 154px;
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    row-gap: 20px;
  }

  &__highlight {
    background-color: $primary;
    color: black;
    border-radius: math.div($base-border-radius, 2);
    padding: 0 7px;
  }

  &__newsletter {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  &__input {
    $color: white;

    background-color: $secondary-light;
    border: 1px solid $color;
    border-radius: $base-border-radius;
    color: $color;
    padding: 22px 35px;

    &::placeholder {
      color: $color;
      font-size: $font-size-xs;
    }
  }
}
