.footer {
  &__topbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
  }

  &__menu-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: $menu-items-gap;

    @include lg {
      display: none;
    }
  }

  &__menu-link {
    $link-color: white;
    color: $link-color;
    font-size: $font-size-xs;
    transition: filter 0.15s ease;

    &:hover,
    &:focus {
      filter: brightness(0.5);
    }

    &:active {
      filter: brightness(0.7);
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  &__link {
    transition: filter 0.15s ease;

    &:hover {
      filter: brightness(0.5);
    }
  }

  &__middle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: minmax(20px, 154px);
    margin-bottom: 50px;
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    row-gap: 20px;
  }

  &__mailto,
  &__tel {
    text-decoration: none;
  }

  &__highlight {
    background-color: $primary;
    color: black;
    border-radius: math.div($base-border-radius, 2);
    padding: 0 7px;
  }

  &__newsletter {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  &__input {
    $color: white;

    background-color: $secondary-light;
    border: 1px solid $color;
    border-radius: $base-border-radius;
    color: $color;
    padding: 22px 35px;

    &::placeholder {
      color: $color;
      font-size: $font-size-xs;
    }
  }

  &__bottom {
    border-top: 1px solid white;
    padding-top: 50px;
    color: white;
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;
  }
}
