.navbar {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &__menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $menu-items-gap;

    @include lg {
      display: none;
    }
  }

  &__menu-link {
    $link-color: black;
    color: $link-color;
    font-size: $font-size-sm;
    text-decoration: none;

    &:hover,
    &:focus {
      color: color.scale($link-color, $lightness: 60%);
    }

    &:active {
      color: color.scale($link-color, $lightness: 70%);
    }
  }
}
