.proposal {
  gap: 10%;

  &__content {
    width: 50%;
  }

  &__title,
  &__description {
    margin-bottom: 26px;
  }

  &__image {
    margin: -90px 0 -90px 50px;
  }

  @include lg {
    &__content {
      width: 100%;
    }

    &__image {
      display: none;
    }
  }
}
