.card {
  width: 100%;
  background-color: #e3e3e3;
  border: 1px solid black;
  padding: 50px;
  justify-content: space-between;
  border-radius: 45px;
  box-shadow: $base-box-shadow;
  // gap: 25px;
  $parent: &;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 93px;
  }

  &__highlight {
    border-radius: math.div($base-border-radius, 2);
  }

  &__button {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    text-decoration: none;
    gap: 15px;
    transition: all 0.15s ease;

    &::after {
      content: "Learn more";
    }

    &:hover {
      filter: invert(25%);
    }

    @include sm {
      &::after {
        content: unset;
      }
    }
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include lg {
      align-items: flex-end;
    }
  }

  &--muted {
    display: flex;
    background-color: $muted;

    #{$parent}__highlight {
      background-color: $primary;
    }
  }

  &--primary {
    display: flex;
    background-color: $primary;

    #{$parent}__highlight {
      background-color: white;
    }
  }

  &--secondary {
    display: flex;
    background-color: $secondary;

    #{$parent}__highlight {
      background-color: white;
    }

    #{$parent}__button {
      color: white;
    }
  }

  &--secondary-success {
    display: flex;
    background-color: $secondary;

    #{$parent}__highlight {
      background-color: $primary;
    }

    #{$parent}__button {
      color: white;
    }
  }

  &--proposal {
    display: flex;
    flex-direction: row;
    background-color: $muted;
    border: none;
    box-shadow: none;
    padding: 60px;
  }

  &--case-studies {
    background-color: $secondary;
    color: white;
    gap: 0;

    #{$parent}__button {
      color: $primary;

      &::after {
        content: unset;
      }

      &::before {
        content: "Learn more";
      }
    }
  }

  &--working-process {
    padding: 41px 60px;

    &[open] {
      background-color: $primary;
    }

    @include lg {
      padding: 30px;
    }
  }

  &--team {
    background-color: white;
    padding: 40px 35px;
  }

  &--contact {
    background-color: $muted;
    border: 0;
    box-shadow: unset;

    @include lg {
      padding: 40px 30px;
    }

    @include md {
      padding: 40px 20px;
    }
  }

  &--footer {
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @include md {
      border-radius: 0;
    }
  }

  &--secondary-light {
    background-color: $secondary-light;
    border-radius: $base-border-radius;
    padding: 58px 40px;
  }

  &--newsletter {
    @include lg {
      padding: 30px;
    }
  }
}
